In [1]:
import sklearn
import pandas as pd
import numpy as np
import chardet
from csv import reader

from sklearn.model_selection import cross_val_score

from sklearn import tree
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB

In [2]:
#Read the data into a Pandas dataframe

attributes = []
for i in ["a","b","c","d","e","f","g"]:
    for j in ["1","2","3","4","5","6"]:
        attributes.append(i+j)
        
attributes.append("class")

data = pd.read_csv("../data/connect-4.data",names=attributes)

In [3]:
data.tail()

      a1 a2 a3 a4 a5 a6 b1 b2 b3 b4  ... f4 f5 f6 g1 g2 g3 g4 g5 g6 class
67552  x  x  b  b  b  b  o  x  o  b  ...  b  b  b  o  o  x  b  b  b  loss
67553  x  x  b  b  b  b  o  b  b  b  ...  b  b  b  o  x  o  o  x  b  draw
67554  x  x  b  b  b  b  o  o  b  b  ...  b  b  b  o  x  x  o  b  b  loss
67555  x  o  b  b  b  b  o  b  b  b  ...  b  b  b  o  x  o  x  x  b  draw
67556  x  o  o  o  x  b  o  b  b  b  ...  b  b  b  x  b  b  b  b  b  draw

[5 rows x 43 columns]

In [4]:
VALUE_MAP = {
    'x' :0,
    'o' :1,
    'b' :2,
    'win' : 0,
    'loss' : 1,
    'draw' : 2
}

In [5]:
data = data.replace(VALUE_MAP)

In [6]:
data.tail()

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
67552,0,0,2,2,2,2,1,0,1,2,...,2,2,2,1,1,0,2,2,2,1
67553,0,0,2,2,2,2,1,2,2,2,...,2,2,2,1,0,1,1,0,2,2
67554,0,0,2,2,2,2,1,1,2,2,...,2,2,2,1,0,0,1,2,2,1
67555,0,1,2,2,2,2,1,2,2,2,...,2,2,2,1,0,1,0,0,2,2
67556,0,1,1,1,0,2,1,2,2,2,...,2,2,2,0,2,2,2,2,2,2

In [7]:
x = data[data.columns[:-1]]
y = data['class']

#### Naive Bayes :

In [8]:
naive_bayes_classifier = MultinomialNB()

In [9]:
cv_score_naive_bayes = cross_val_score(naive_bayes_classifier, x, y, cv=10).mean()
print("Cross Validation score for Naive Bayes :",cv_score_naive_bayes)

Cross Validation score for Naive Bayes : 0.6583033646688725

#### Decision Tree :

In [10]:
decision_tree_classifier = tree.DecisionTreeClassifier(min_samples_split=1000)

In [11]:
cv_score_decision_tree = cross_val_score(decision_tree_classifier, x, y, cv=10).mean()
print("Cross Validation score for Decison Tree :",cv_score_decision_tree)

Cross Validation score for Decison Tree : 0.598133308080657

#### SVM Classifier :

In [12]:
svm_classifier = SVC(gamma='auto')

In [13]:
cv_score_svc = cross_val_score(svm_classifier, max, y, cv=10).mean()
print("Cross Validation score for SVC:",cv_score_svc)

Cross Validation score for SVC: 0.64108841017643